
h1 {
    color: #fffffffa;
    font-size: 3em;
    margin-block-start: -1.33em;
    background: black;
    border-radius: 206px;
    text-align: center;
}
/*test 2*/
h2 {
    /* margin: 50px; */
    color: blue;
    font-style: italic;
    background: #efeded;
    text-align: center;
}
label {
    margin: 50px;
    color: white;
}

.logo {
    width: 100px;
    margin-right: 1500px;
}
body {
    
    background-image: url("fondo.jpg"); 
    background-size: cover;
    background-repeat:no-repeat;
    /*background-position: center center;*/

}

div{
    background: rgb(66 61 61);
    border-radius: 40px;
    padding: 20px;
    width: 385px;
}

.caja-texto{
    width: 332px;
    height: 100px;
    margin: 26px;
}
#nivel-acceso{
    padding-right: 2px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -453px;
    width: 400px;
    height: 251px;
    background-color: rgb(66 61 61);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
select{
    font-size: 20px;
    margin-right: auto;
    margin-left: 96px;
    margin-top: 25px;
}

.select-usuario{
    font-size: 16px;
    margin-right: auto;
    margin-left: 162px;
    margin-top: 0px;
}

.registro-na{    
    margin-left: 37px;
    margin-top: 41px;

}
.na{
color:rgb(219, 130, 130);
margin-left: 172px;

}

.checkbox{
margin-left: 10px;
}

@media (max-width: 600px) {
  h1 {
    width: calc(100%);
    margin-block-start: 2px;
    font-size: 20px;
    border-radius: 16px;
 }

    .logo {
        width: 75px;
        /* margin-right: -57px; */
        margin-left: 39%;
        margin-top: auto;
 }
    h2 {
        display: none;
    }
    .caja-texto {
        width: 296px;
        height: 100px;
        margin: 26px;
     }
     #nivel-acceso { 
     padding-right: 6px;
    padding-left: 28px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    width: 290px;
    height: 264px;
    background-color: rgb(66 61 61);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    }
    div {
        background: rgb(66 61 61);
        border-radius: 56px;
        padding: 16px;
        width: 332px;
    }
    .na {
        color: rgb(219, 130, 130);
        margin-left: 72px;
    }
    body {
        background-size: auto;
    
    }
}